.domain-configuration {
  $root: &;

  &__row {
    display: flex;

    #{$root}__field {
      margin-right: 1rem;
    }
  }

  &__field {
    transition: max-height 0.7s;
    overflow: hidden;

    &_visibility_hidden {
      max-height: 0;
    }

    &_visibility_visible {
      max-height: 60px;
    }

    &_with_label {
      display: flex;
      .ant-form-item-control-wrapper {
        flex-grow: 1;
      }
    }
  }

  &__group {
    .ant-form-item {
      margin-bottom: 0.25rem;

    }
  }
}